models:
  - name: "gpt-5"
    provider: "openai"
    api_key_env: "OPENAI_API_KEY"
    model_id: "gpt-5"

#  - name: "llama-3.1-8b-groq"
#    provider: "groq"
#    api_key_env: "GROQ_API_KEY"
#    model_id: "llama-3.1-8b-instant"

#  - name: "gemini-3-pro-preview"
#    provider: "google"
#    api_key_env: "GOOGLE_API_KEY"
#    model_id: "gemini-3-pro-preview"

  #- name: "llama-3.1-8b"
  #  provider: "ollama"
  #  endpoint_url: "http://localhost:11434/api/generate"
  #  model_id: "llama3.1"

  #- name: "gemma-3-4b-pt"
  #  provider: "ollama"
  #  endpoint_url: "http://localhost:11434/api/generate"
  #  model_id: "gemma-3-4b-pt"
